<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>jenkins.diagnostics.SecurityIsOffMonitor</string>
    <string>OldData</string>
    <string>hudson.diagnosis.ReverseProxySetupMonitor</string>
  </disabledAdministrativeMonitors>
  <version>2.387.1</version>
  <numExecutors>0</numExecutors>
  <mode>EXCLUSIVE</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>USER:com.cloudbees.plugins.credentials.CredentialsProvider.Create:admin</permission>
    <permission>USER:com.cloudbees.plugins.credentials.CredentialsProvider.Delete:admin</permission>
    <permission>USER:com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:admin</permission>
    <permission>USER:com.cloudbees.plugins.credentials.CredentialsProvider.Update:admin</permission>
    <permission>USER:com.cloudbees.plugins.credentials.CredentialsProvider.View:admin</permission>
    <permission>USER:hudson.model.Computer.Build:admin</permission>
    <permission>USER:hudson.model.Computer.Configure:admin</permission>
    <permission>USER:hudson.model.Computer.Connect:admin</permission>
    <permission>USER:hudson.model.Computer.Create:admin</permission>
    <permission>USER:hudson.model.Computer.Delete:admin</permission>
    <permission>USER:hudson.model.Computer.Disconnect:admin</permission>
    <permission>USER:hudson.model.Hudson.Administer:admin</permission>
    <permission>USER:hudson.model.Hudson.Read:admin</permission>
    <permission>USER:hudson.model.Hudson.Read:operacao</permission>
    <permission>USER:hudson.model.Item.Build:admin</permission>
    <permission>USER:hudson.model.Item.Build:operacao</permission>
    <permission>USER:hudson.model.Item.Cancel:admin</permission>
    <permission>USER:hudson.model.Item.Cancel:operacao</permission>
    <permission>USER:hudson.model.Item.Configure:admin</permission>
    <permission>USER:hudson.model.Item.Create:admin</permission>
    <permission>USER:hudson.model.Item.Delete:admin</permission>
    <permission>USER:hudson.model.Item.Discover:admin</permission>
    <permission>USER:hudson.model.Item.Move:admin</permission>
    <permission>USER:hudson.model.Item.Read:admin</permission>
    <permission>USER:hudson.model.Item.Read:operacao</permission>
    <permission>USER:hudson.model.Item.ViewStatus:admin</permission>
    <permission>USER:hudson.model.Item.Workspace:admin</permission>
    <permission>USER:hudson.model.Item.Workspace:operacao</permission>
    <permission>USER:hudson.model.Run.Delete:admin</permission>
    <permission>USER:hudson.model.Run.Replay:admin</permission>
    <permission>USER:hudson.model.Run.Update:admin</permission>
    <permission>USER:hudson.model.View.Configure:admin</permission>
    <permission>USER:hudson.model.View.Create:admin</permission>
    <permission>USER:hudson.model.View.Delete:admin</permission>
    <permission>USER:hudson.model.View.Read:admin</permission>
    <permission>USER:hudson.model.View.Read:operacao</permission>
    <permission>USER:hudson.scm.SCM.Tag:admin</permission>
    <permission>USER:jenkins.metrics.api.Metrics.HealthCheck:admin</permission>
    <permission>USER:jenkins.metrics.api.Metrics.HealthCheck:operacao</permission>
    <permission>USER:jenkins.metrics.api.Metrics.ThreadDump:admin</permission>
    <permission>USER:jenkins.metrics.api.Metrics.View:admin</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULL_NAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds>
    <org.csanchez.jenkins.plugins.kubernetes.KubernetesCloud plugin="kubernetes@3910.ve59cec5e33ea_">
      <name>kubernetes</name>
      <defaultsProviderTemplate></defaultsProviderTemplate>
      <templates>
        <org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
          <id>7e2187a3-5d79-4404-b2ad-fd89da3310a4</id>
          <name>jenkins-worker-ansible</name>
          <namespace>jenkins</namespace>
          <privileged>false</privileged>
          <capOnlyOnAlivePods>false</capOnlyOnAlivePods>
          <alwaysPullImage>false</alwaysPullImage>
          <instanceCap>2147483647</instanceCap>
          <slaveConnectTimeout>1000</slaveConnectTimeout>
          <idleMinutes>0</idleMinutes>
          <activeDeadlineSeconds>0</activeDeadlineSeconds>
          <label>sul-ansible</label>
          <hostNetwork>false</hostNetwork>
          <volumes>
            <org.csanchez.jenkins.plugins.kubernetes.volumes.PersistentVolumeClaim>
              <mountPath>/repo</mountPath>
              <claimName>repo-prod</claimName>
              <readOnly>true</readOnly>
            </org.csanchez.jenkins.plugins.kubernetes.volumes.PersistentVolumeClaim>
          </volumes>
          <containers>
            <org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
              <name>ansible</name>
              <image>fchelotti/ansible-slave:2.4.0</image>
              <privileged>false</privileged>
              <alwaysPullImage>false</alwaysPullImage>
              <workingDir>/home/jenkins/agent</workingDir>
              <command>sleep</command>
              <args>9999999</args>
              <ttyEnabled>true</ttyEnabled>
              <resourceRequestCpu></resourceRequestCpu>
              <resourceRequestMemory></resourceRequestMemory>
              <resourceRequestEphemeralStorage></resourceRequestEphemeralStorage>
              <resourceLimitCpu></resourceLimitCpu>
              <resourceLimitMemory></resourceLimitMemory>
              <resourceLimitEphemeralStorage></resourceLimitEphemeralStorage>
              <envVars>
                <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
                  <key>http_proxy</key>
                  <value>http://10.104.244.78:8080</value>
                </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
                <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
                  <key>https_proxy</key>
                  <value>http://10.104.244.78:8080</value>
                </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
                <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
                  <key>no_proxy</key>
                  <value>localhost,10.96.0.0/12,192.168.0.0/24,10.104.244.201/32,10.104.244.202/32,10.104.244.203/32,10.104.244.204/32,10.104.244.205/32,10.104.244.200/32</value>
                </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
              </envVars>
              <ports/>
              <livenessProbe>
                <execArgs></execArgs>
                <timeoutSeconds>0</timeoutSeconds>
                <initialDelaySeconds>0</initialDelaySeconds>
                <failureThreshold>0</failureThreshold>
                <periodSeconds>0</periodSeconds>
                <successThreshold>0</successThreshold>
              </livenessProbe>
            </org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
            <org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
              <name>scanner</name>
              <image>fchelotti/scanner-lts:1.2.0</image>
              <privileged>false</privileged>
              <alwaysPullImage>false</alwaysPullImage>
              <workingDir>/home/jenkins/agent</workingDir>
              <command>sleep</command>
              <args>9999999</args>
              <ttyEnabled>true</ttyEnabled>
              <resourceRequestCpu></resourceRequestCpu>
              <resourceRequestMemory></resourceRequestMemory>
              <resourceRequestEphemeralStorage></resourceRequestEphemeralStorage>
              <resourceLimitCpu></resourceLimitCpu>
              <resourceLimitMemory></resourceLimitMemory>
              <resourceLimitEphemeralStorage></resourceLimitEphemeralStorage>
              <envVars/>
              <ports/>
              <livenessProbe>
                <execArgs></execArgs>
                <timeoutSeconds>0</timeoutSeconds>
                <initialDelaySeconds>0</initialDelaySeconds>
                <failureThreshold>0</failureThreshold>
                <periodSeconds>0</periodSeconds>
                <successThreshold>0</successThreshold>
              </livenessProbe>
            </org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
          </containers>
          <envVars/>
          <annotations/>
          <imagePullSecrets/>
          <nodeProperties/>
          <yamlMergeStrategy class="org.csanchez.jenkins.plugins.kubernetes.pod.yaml.Overrides"/>
          <showRawYaml>false</showRawYaml>
        </org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
        <org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
          <id>aea76484-b155-4747-9ef8-175650d02b07</id>
          <name>jenkins-worker-packer</name>
          <namespace>jenkins</namespace>
          <privileged>false</privileged>
          <capOnlyOnAlivePods>false</capOnlyOnAlivePods>
          <alwaysPullImage>false</alwaysPullImage>
          <instanceCap>2147483647</instanceCap>
          <slaveConnectTimeout>1000</slaveConnectTimeout>
          <idleMinutes>0</idleMinutes>
          <activeDeadlineSeconds>0</activeDeadlineSeconds>
          <label>sul-packer</label>
          <hostNetwork>false</hostNetwork>
          <volumes/>
          <containers>
            <org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
              <name>packer</name>
              <image>fchelotti/packer:1.8</image>
              <privileged>false</privileged>
              <alwaysPullImage>false</alwaysPullImage>
              <workingDir>/home/jenkins/agent</workingDir>
              <command>sleep</command>
              <args>9999999</args>
              <ttyEnabled>true</ttyEnabled>
              <resourceRequestCpu></resourceRequestCpu>
              <resourceRequestMemory></resourceRequestMemory>
              <resourceRequestEphemeralStorage></resourceRequestEphemeralStorage>
              <resourceLimitCpu></resourceLimitCpu>
              <resourceLimitMemory></resourceLimitMemory>
              <resourceLimitEphemeralStorage></resourceLimitEphemeralStorage>
              <envVars>
                <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
                  <key>http_proxy</key>
                  <value>http://10.104.244.78:8080</value>
                </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
                <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
                  <key>https_proxy</key>
                  <value>http://10.104.244.78:8080</value>
                </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
                <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
                  <key>no_proxy</key>
                  <value>localhost,10.96.0.0/12,192.168.0.0/24,10.104.244.201/32,10.104.244.202/32,10.104.244.203/32,10.104.244.204/32,10.104.244.205/32,10.104.244.200/32</value>
                </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
                <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
                  <key>PACKER_LOG</key>
                  <value>1</value>
                </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
                <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
                  <key>vsphere_username</key>
                  <value>srv_palancas</value>
                </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
                <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
                  <key>vsphere_password</key>
                  <value>P@l4nc4s*2022!</value>
                </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
              </envVars>
              <ports/>
              <livenessProbe>
                <execArgs></execArgs>
                <timeoutSeconds>0</timeoutSeconds>
                <initialDelaySeconds>0</initialDelaySeconds>
                <failureThreshold>0</failureThreshold>
                <periodSeconds>0</periodSeconds>
                <successThreshold>0</successThreshold>
              </livenessProbe>
            </org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
          </containers>
          <envVars/>
          <annotations/>
          <imagePullSecrets/>
          <nodeProperties/>
          <yamlMergeStrategy class="org.csanchez.jenkins.plugins.kubernetes.pod.yaml.Overrides"/>
          <showRawYaml>false</showRawYaml>
        </org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
        <org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
          <id>7ed4f2e5-1e2a-4317-91af-6135860aa2b2</id>
          <name>jenkins-worker-terraform</name>
          <namespace>jenkins</namespace>
          <privileged>false</privileged>
          <capOnlyOnAlivePods>false</capOnlyOnAlivePods>
          <alwaysPullImage>false</alwaysPullImage>
          <instanceCap>2147483647</instanceCap>
          <slaveConnectTimeout>1000</slaveConnectTimeout>
          <idleMinutes>0</idleMinutes>
          <activeDeadlineSeconds>0</activeDeadlineSeconds>
          <label>sul-terraform</label>
          <hostNetwork>false</hostNetwork>
          <volumes/>
          <containers>
            <org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
              <name>terraform</name>
              <image>fchelotti/terraform-slave:1.2.1</image>
              <privileged>false</privileged>
              <alwaysPullImage>false</alwaysPullImage>
              <workingDir>/home/jenkins/agent</workingDir>
              <command>sleep</command>
              <args>9999999</args>
              <ttyEnabled>true</ttyEnabled>
              <resourceRequestCpu></resourceRequestCpu>
              <resourceRequestMemory></resourceRequestMemory>
              <resourceRequestEphemeralStorage></resourceRequestEphemeralStorage>
              <resourceLimitCpu></resourceLimitCpu>
              <resourceLimitMemory></resourceLimitMemory>
              <resourceLimitEphemeralStorage></resourceLimitEphemeralStorage>
              <envVars>
                <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
                  <key>http_proxy</key>
                  <value>http://10.104.244.78:8080</value>
                </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
                <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
                  <key>https_proxy</key>
                  <value>http://10.104.244.78:8080</value>
                </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
                <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
                  <key>no_proxy</key>
                  <value>localhost,10.96.0.0/12,192.168.0.0/24,10.104.244.201/32,10.104.244.202/32,10.104.244.203/32,10.104.244.204/32,10.104.244.205/32,10.104.244.200/32</value>
                </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
                <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
                  <key>TF_VAR_user</key>
                  <value>srv_palancas</value>
                </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
                <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
                  <key>TF_VAR_password</key>
                  <value>P@l4nc4s*2022!</value>
                </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
              </envVars>
              <ports/>
              <livenessProbe>
                <execArgs></execArgs>
                <timeoutSeconds>0</timeoutSeconds>
                <initialDelaySeconds>0</initialDelaySeconds>
                <failureThreshold>0</failureThreshold>
                <periodSeconds>0</periodSeconds>
                <successThreshold>0</successThreshold>
              </livenessProbe>
            </org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
          </containers>
          <envVars/>
          <annotations/>
          <imagePullSecrets/>
          <nodeProperties/>
          <yamlMergeStrategy class="org.csanchez.jenkins.plugins.kubernetes.pod.yaml.Overrides"/>
          <showRawYaml>false</showRawYaml>
        </org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
      </templates>
      <serverUrl>https://10.104.244.200:6443</serverUrl>
      <useJenkinsProxy>false</useJenkinsProxy>
      <skipTlsVerify>true</skipTlsVerify>
      <addMasterProxyEnvVars>false</addMasterProxyEnvVars>
      <capOnlyOnAlivePods>false</capOnlyOnAlivePods>
      <namespace>Jenkins</namespace>
      <webSocket>false</webSocket>
      <directConnection>false</directConnection>
      <jenkinsUrl>http://jenkins-prod-service:8080</jenkinsUrl>
      <containerCap>10</containerCap>
      <retentionTimeout>5</retentionTimeout>
      <connectTimeout>5</connectTimeout>
      <readTimeout>15</readTimeout>
      <podLabels>
        <org.csanchez.jenkins.plugins.kubernetes.PodLabel>
          <key>jenkins</key>
          <value>slave</value>
        </org.csanchez.jenkins.plugins.kubernetes.PodLabel>
      </podLabels>
      <usageRestricted>false</usageRestricted>
      <maxRequestsPerHost>32</maxRequestsPerHost>
      <waitForPodSec>600</waitForPodSec>
      <podRetention class="org.csanchez.jenkins.plugins.kubernetes.pod.retention.Never"/>
    </org.csanchez.jenkins.plugins.kubernetes.KubernetesCloud>
  </clouds>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
  </views>
  <primaryView>all</primaryView>
  <slaveAgentPort>50000</slaveAgentPort>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="java.lang.String$CaseInsensitiveComparator"/>
          </default>
          <int>1</int>
          <string>MAVEN_OPTS</string>
          <string></string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </nodeProperties>
  <globalNodeProperties/>
  <nodeRenameMigrationNeeded>false</nodeRenameMigrationNeeded>
</hudson>